@tailwind base;
@tailwind components;
@tailwind utilities;

.topic_name {
  font-size:  3.5vh;
  font-weight: bold;
  padding: 5% 15% 0% 0%;
  border-bottom: 3px solid #b2d5de;
}

.text_contents {
  font-size: 15px;
  font-weight: bold;
}

.footer {
    background-color: #d4ae03;
    height: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    padding: 5%;
    overflow: hidden;
  }
  