/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* グローバルスタイル */
.topic_name {
  font-size: 3.5vh;
  font-family: 'Hiragino Mincho Pro', 'MS PMincho', 'MS 明朝', 'MS Mincho', 'IPAMincho', 'IPA 明朝', 'IPA Mincho', 'VL PGothic', 'VL Gothic', 'メイリオ', 'Meiryo', 'sans-serif';
  font-weight: bold;
  padding: 1% 2.5%;
  
}

@media (max-width: 768px) {
  .topic_name {
    font-size: 18px;
  }
}

.text_contents {
  font-family: 'Hiragino Mincho Pro', 'MS PMincho', 'MS 明朝', 'MS Mincho', 'IPAMincho', 'IPA 明朝', 'IPA Mincho', 'VL PGothic', 'VL Gothic', 'メイリオ', 'Meiryo', 'sans-serif';
  font-size: 15px;
  font-weight: bold;
  padding: 2% 0 10% 3%;
  border-bottom: 1px solid #050505;
}

@media (max-width: 768px) {
  .text_contents {
    font-size: 10px;
    font-weight: bold;
  }
}

.detail {
  font-family: 'Hiragino Mincho Pro', 'MS PMincho', 'MS 明朝', 'MS Mincho', 'IPAMincho', 'IPA 明朝', 'IPA Mincho', 'VL PGothic', 'VL Gothic', 'メイリオ', 'Meiryo', 'sans-serif';
  font-size: 13px;
  color: rgb(61, 62, 64);
  font-weight: bold;
}
@media (max-width: 768px) {
  .detail {
    font-size: 9px;
  }
  
}

.sample_image {
  padding: 5% 15%;
}

.footer {
  background-color: #d4ae03;
  height: 3%;
  color: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 2%;
  overflow: hidden;
}

/* アニメーションとTopImage用のスタイル */
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.top-image-container {
  position: relative;
  width: 100%;
  height: 98vh;
  overflow: hidden;
}

@media (max-width: 768px) {
  .top-image-container {
    height: 30vh;
  }
}

.top-image {
  animation: zoomInOut 10s infinite;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.0);
}

ul.cp_list {
  position: relative;
  padding: 0 0.5em;
  margin-top: 3em;
  list-style-type: none;
  border: solid 2px #787776;
}

ul.cp_list::after {
  position: absolute;
  bottom: 100%;
  left: -2px;
  content: attr(title);
  padding: 1px 7px;

  background: #787776;
  color: #fff;
  border-radius: 4px 4px 0px 0px;
}

ul.cp_list li {
  line-height: 1.5;
  padding: 5px 0 5px 20px;
  border-bottom: 1px dashed #787776;
  position: relative; 
}

ul.cp_list li::before {
  position: absolute;
  left: 5px;
  content: "\2713"; 
  color: #787776;
  font-weight: bold;
}

ul.cp_list li:last-of-type {
  border-bottom: none;
}



ul {
  box-shadow :0px 0px 3px silver;
  border: solid 1px whitesmoke;
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
  background: #fafafa;
}

ul li {
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none!important;
}

ul li:before {
  font-family: "Font Awesome 5 Free";
  /* content: "\2713"; */
  position: absolute;
  left : 1em; /*左端からのアイコンまで*/
  color: gray; /*アイコン色*/
}